@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Publisher Index Action sayfasıdır.</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adı</th>
            <th scope="col">Adres</th>
            <th scope="col">Yazarın Yaşadığı Yer</th>
            <th scope="col">Durumu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3"></td>
            <p class="text-muted text-center"> Liste boş</p>
        </tr>
    </tbody>
</table>